.catalog {
  padding: 90px 0 85px;
}
.catalog--container__page {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}
.catalog--container__page__link {
  color: rgb(135, 135, 135);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog--container__page__link:hover {
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.catalog--container__title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.catalog--container__title-set {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.215;
}
.catalog--container__filter {
  display: flex;
  justify-content: space-between;
}
.catalog--container__filter__par__pagenum {
  text-align: center;
  font-size: 20px;
  line-height: 1.3;
}
.catalog--container__filter__par__span {
  font-weight: 500;
}
.catalog--container__filter-set {
  display: flex;
}
.catalog--container__filter__par__filter {
  font-size: 20px;
  line-height: 1.219;
  text-transform: uppercase;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog--container__filter__par__filter:hover {
  font-weight: 500;
}
.catalog--container__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0 0;
}
.catalog--container__list__li {
  flex: 22%;
  position: relative;
  height: auto;
}
.catalog--container__list__li__img {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.catalog--container__list__li__img:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}
.catalog--container__list__li__like {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 20px;
  height: 20px;
}
.catalog--container__list__li__like:active {
  fill: #fff;
}
.catalog--container__list__li__descr {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.catalog--container__list__li__descr__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.219;
  margin: 25px 0 15px;
}
.catalog--container__list__li__descr__details {
  font-weight: 400;
  line-height: 1.3;
  text-decoration: underline;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog--container__list__li__descr__details:hover {
  font-weight: 500;
}
.catalog--container__list__li__parameters__list {
  margin: 15px 0;
  display: flex;
  gap: 30px;
}
.catalog--container__list__li__parameters__list__li__par {
  padding-bottom: 10px;
}
.catalog--container__list__li__parameters__list__li__color_black {
  width: 18px;
  height: 18px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog--container__list__li__parameters__list__li__color_black:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}
.catalog--container__list__li__parameters__list__li__color_milk {
  width: 18px;
  height: 18px;
  background-color: rgb(227, 227, 227);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog--container__list__li__parameters__list__li__color_milk:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}
.catalog--container__list__li__parameters__list__li__color_red {
  width: 18px;
  height: 18px;
  background-color: rgb(204, 46, 46);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog--container__list__li__parameters__list__li__color_red:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}
.catalog--container__list__li__parameters__list__li__color_green {
  width: 18px;
  height: 18px;
  background-color: rgb(0, 116, 12);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog--container__list__li__parameters__list__li__color_green:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=catalog.css.map */