.item-card {
  padding-top: 150px;
  display: flex;
  justify-content: flex-end;
  gap: 102px;
}
.item-card--container__photo {
  width: 50%;
  left: 0;
}
.item-card--container__photo__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-card--container__photo .itemCardSwiper2 {
  padding-bottom: 20px;
}
.item-card--container__title {
  font-size: 36px;
  line-height: 1.219;
  font-weight: 300;
  padding-bottom: 20px;
}
.item-card--container__par {
  line-height: 1.3;
  color: rgb(175, 175, 175);
}
.item-card--container__par__span {
  color: rgb(0, 0, 0);
}
.item-card--container__par .item-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.219;
}
.item-card--container .art-pad {
  padding-bottom: 59px;
}
.item-card--container .price-pad {
  padding-bottom: 70px;
}
.item-card--container__parameters {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 60px;
}
.item-card--container__parameters__list {
  display: flex;
  gap: 30px;
}
.item-card--container__parameters__list__li-size {
  font-size: 20px;
  line-height: 1.3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-card--container__parameters__list__li-size:hover {
  font-weight: 500;
}
.item-card--container__parameters__list__li-color {
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-card--container__parameters__list__li-color:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}
.item-card--container__parameters__list__li-color__circle_black {
  width: 25px;
  height: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
.item-card--container__parameters__list__li-color__circle_white {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(138, 138, 138);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.item-card--container__parameters__list__li-color__circle_skin {
  width: 25px;
  height: 25px;
  background-color: rgb(240, 230, 218);
  border-radius: 50%;
}
.item-card--container__parameters__list__li-color__circle_grey {
  width: 25px;
  height: 25px;
  background-color: rgb(138, 138, 138);
  border-radius: 50%;
}
.item-card--container__parameters .item-color {
  gap: 35px;
}
.item-card--container__parameters__each {
  display: flex;
  align-items: center;
  gap: 15px;
}
.item-card--container__buttons {
  display: flex;
  gap: 34px;
  padding-bottom: 70px;
}
.item-card--container__buttons__button {
  width: 285px;
  height: 49px;
  text-transform: uppercase;
  justify-content: center;
  border: none;
  font-weight: 400;
  line-height: 1.3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-card--container__buttons .black-but {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.item-card--container__buttons .black-but:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.item-card--container__buttons .white-but {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  gap: 10px;
}
.item-card--container__buttons .white-but__icon:hover {
  fill: #000;
}
.item-card--container__info {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.item-card--container__info__button {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.item-card--container__info__button:hover {
  color: rgb(71, 71, 71);
}
.item-card--container__info__button.active {
  color: rgb(71, 71, 71);
  text-decoration: underline;
}
.item-card--container__size-chart__table__font {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
}
.item-card--container__size-chart__table .th-weight {
  font-weight: 400;
  padding: 0 50px 25px 0;
}
.item-card--container__size-chart__table .indent {
  padding-left: 105px;
}
.item-card--container__size-chart__table .sizes-bottom {
  padding-bottom: 15px;
}

.useful {
  margin-top: 85px;
}
.useful .catalog--container__item-card__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.215;
  padding-bottom: 25px;
}/*# sourceMappingURL=item-card.css.map */